/* CSS declarations go here */
table {
	text-align: center;
	font-size: 25px;
}
.title {
	font-size: 24px;
	margin-top: 25px;
	margin-left: 25px;
}
.banana {
	float: right;
	font-size: 24px;
	margin-right: 25px;
}
.form-control{
	height: 200px;
	font-size: 100px;
	text-align: center;
	margin-bottom: 25px
}
.form-group {
	margin: 25px;
}